{% extends 'layout.html.twig' %}
  {% set rentability = 1 %}
  {% set devCost = 1 %}
  {% set projectsSold = 1 %}
    {% for last in totalCost %}
        {% if last.releaseDate != null %}
            {% set devCost = (devCost + last.cost)  %}
            {% set projectsSold = (projectsSold + last.sellingPrice) %}
        {% endif %}
    {% endfor %}
    {% set rentability = 100 - ((devCost * 100)/projectsSold) %}
{% set total = (released.projects /(released.projects + pending.projects))*100 %}
{% block content %}
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i>&nbspDashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget-small info coloured-icon">
                        <i class="icon fa fa-spinner fa-3x" aria-hidden="true"></i>
                        <div class="info">
                            <p class="text-muted text-sm text-uppercase">Pending projects</p>
                            <p>{% if pending.projects != null %}
                                <strong>{{ pending.projects }}</strong>
                                {% else %}
                                    <strong>0</strong>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget-small warning coloured-icon">
                        <i class="icon fa fa-check-square-o fa-3x" aria-hidden="true"></i>
                        <div class="info">
                            <p class="text-muted text-sm text-uppercase">Released projects</p>
                            <p>{% if released.projects != null %}
                                <strong>{{ released.projects }}</strong>
                                {% else %}
                                <strong>0</strong>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget-small primary coloured-icon">
                        <i class="icon fa fa-users fa-3x"></i>
                        <div class="info">
                            <p class="text-muted text-sm text-uppercase">Employees</p>
                            <p><strong>{{ countEmployees.count }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget-small danger coloured-icon">
                        <i class="icon fa fa-calendar-check-o fa-3x" aria-hidden="true"></i>
                        <div class="info">
                            <p class="text-muted text-sm text-uppercase">Days of development</p>
                            <p><strong>{{ allDevTime.time }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-uppercase">
                        <div class="card-header text-center">Rentability</div>
                        <div class="card-body">
                            <p class="text-muted">

                                <i class="fa fa-database mr-2 text-primary"></i> {{ rentability|round(0,'floor') }}% RENTABILITY
                            </p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <canvas id="ratio-chart" class="embed-responsive-item"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-uppercase">
                        <div class="card-header text-center">Percentage of released projects</div>
                        <div class="card-body">
                            <p class="text-muted">

                                <i class="fa fa fa-check-square-o mr-2 text-primary"></i> {{ total|round(0,'floor') }}% Released
                            </p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <canvas id="delivered-chart" class="embed-responsive-item"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header text-center text-uppercase">Top ranking</div>
                        <div class="card-body">
                            {% for best in bestWorker %}
                            {% if best.maxCost %}
                            <div class="text-center">
                                <img src="../../../img/Alex.jpg" class="rounded-circle" width="58">
                                <p class="mt-2">
                                    <strong>{{ best.firstName }}&nbsp;"the Boss"&nbsp;{{ best.lastName }}</strong>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="medium mt">Employed since</p>
                                    <p>{{ best.hiringDate|date('d/m/Y') }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="medium mt">Total cost</p>
                                    <p>{{ best.maxCost }}€</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="tile table-responsive">
                <h2 class="tile-title">Last projects</h2>
                <table class="table table-hover table-striped table-sm">
                    {%  for last in lastProjects %}
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Creation date</th>
                        <th>Selling price</th>
                        <th>Cost</th>
                        <th>Is released</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>
                            <a href={{path('company_details_project', {'id': last.id})}}>{{ last.name }}</a>
                        </th>
                        <th>{{last.created_at|date('d/m/Y') }}</th>
                        <th>{{last.sellingPrice}}€</th>
                        <th>{{last.cost}}€</th>
                        <th>
                            {% if last.releaseDate != null %}
                            <span class="badge badge-success">YES</span>
                            {% else %}
                            <span class=" badge badge-danger">NO</span>
                            {% endif %}
                        </th>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tile">
                <h2 class="tile-title text-center">Last production time</h2>
                <ul class="list-group">
                    {% for time in lastDevTimes %}
                        <li class="list-group-item">
                            <a href={{path('company_details_employee', {'id': time.id})}}>{{time.firstName|capitalize}}
                                {{time.lastName|upper}}</a> worked on&nbsp;<a
                                    href={{path('company_details_project', {'id': time.projectID})}}>{{time.name}}</a>
                            <div class="text-muted font-italic text-right">{{time.devTime}}
                                {% if time.devTime > 1 %}
                                    days
                                {% else %}
                                    day
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js" integrity="sha256-oSgtFCCmHWRPQ/JmR4OoZ3Xke1Pw4v50uh6pLcu+fIc=" crossorigin="anonymous"></script>
    <script>
        var sell = "{{ rentability }}"
        var cost = "{{ total }}"
        var ratioData = [sell, (100-sell)];
        var deliveredData = [cost , (100-cost)];
    </script>
    <!-- dashboard-->
    <script src="./js/dashboard.js"></script>
{% endblock %}



