{% extends 'layout.html.twig' %}

{% block content %}

    <main class="app-content">
        <div class="tile">
            {{ include('messages/message_flash.html.twig') }}
            <div class="form-horizontal">
                {{ form_start(delJob) }}
                <section>
                    <h3>Delete Job</h3>
                    <div class="row mt-4">
                        <div class="offset-md-4 col-md-8">
                            <div class="form-group row">
                                {{ form_label(delJob.name, delJob.name, {'label_attr': {'class': 'control-label col-md-3'}}) }}
                                <div class="col-md-8">
                                    {{form_widget(delJob.name, {'attr': {'class': 'form-control', 'placeholder': 'Example: Web developer'}})}}
                                    <div class="form-control-feedback text-danger">
                                        {{form_errors(delJob.name)}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <hr />

                <div class="row">
                    <div class="offset-md-6 col-md-6">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('are you sure?')"><i class="fa fa-delete"></i>Delete</button>
                    </div>
                </div>

                {{ form_end(delJob) }}
            </div>
        </div>
    </main>


{% endblock %}