{% extends 'layout.html.twig' %}

{% block content %}
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-users"></i>Create/Edit employee data</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <a href="#"><i class="fa fa-home fa-lg"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Employees</a>
            </li>
            <li class="breadcrumb-item">Edit an employee</li>
        </ul>
    </div>
    <div class="tile">
        {{ include('messages/message_flash.html.twig') }}

        <div class="form-horizontal">
            {{ form_start(form) }}
            <section>
                <h3>Global informations</h3>
                <div class="row mt-4">
                    <div class="offset-md-4 col-md-8">
                        <div class="form-group row">
                            {{ form_label(form.firstName, form.firstName, {'label_attr': {'class': 'control-label col-md-3'}}) }}
                            <div class="col-md-8">
                                {{form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': form.firstName.vars.label }})}}
                                <div class="form-control-feedback text-danger">
                                    {{form_errors(form.firstName)}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.lastName, form.lastName, {'label_attr': {'class': 'control-label col-md-3'}}) }}
                            <div class="col-md-8">
                                {{form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': form.lastName.vars.label }})}}
                                <div class="form-control-feedback text-danger">
                                    {{form_errors(form.lastName)}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.email, form.email, {'label_attr': {'class': 'control-label col-md-3'}}) }}
                            <div class="col-md-8">
                                {{form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Your email address'}})}}
                                <div class="form-control-feedback text-danger">
                                    {{form_errors(form.email)}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    </section>
    <hr />
    <section>
        <h3>Production</h3>
        <div class="row mt-4">
            <div class="offset-md-4 col-md-8">
                <div class="form-group row">
                    <div class="form-group row">
                        {{ form_label(form.job, form.job, {'label_attr': {'class': 'control-label col-md-3'}})
                        }}
                        <div class="col-md-9">
                            {{form_widget(form.job, {'attr': {'class': 'form-control' }})}}
                            <div class="form-control-feedback text-danger">
                                {{form_errors(form.job)}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group row">
                        {{ form_label(form.dailyCost, form.dailyCost, {'label_attr': {'class': 'control-label col-md-3'}}) }}
                        <div class="col-md-8">
                            {{form_widget(form.dailyCost, {'attr': {'class': 'form-control', 'placeholder': 'example: 600' }})}}
                            <div class="form-control-feedback text-danger">
                                {{form_errors(form.dailyCost)}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group row">
                        {{ form_label(form.hiringDate, form.hiringDate, {'label_attr': {'class': 'control-label col-md-3'}}) }}
                        <div class="col-md-8">
                            {{form_widget(form.hiringDate, {'attr': {'class': 'form-control', 'placeholder': 'dd//MM//yyyy' }})}}
                            <div class="form-control-feedback text-danger">
                                {{form_errors(form.hiringDate)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <div class="row">
        <div class="offset-md-6 col-md-6">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Enregistrer</button>
        </div>
    </div>
            {{ form_end(form) }}
    </div>

    </div>
</main>
{% endblock %}