{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href={{ asset('css/main.css') }}/>
{% endblock %}

{% block body %}
<!-- Navbar -->
<header class="app-header"><a class="app-header__logo" href="#">Procost</a>
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <li class="app-search">
            <a href="login.html" class="btn btn-info">Logout</a>
        </li>
    </ul>
</header>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src={{ asset('img/user.jpg') }} alt="User Image">
            <div>
                <p class="app-sidebar__user-name">John Doe</p>
                <p class="app-sidebar__user-designation">Manager</p>
            </div>
        </div>
        {% set current_route = app.request.attributes.get('_route') %}
        <ul class="app-menu">
            <li>
                <a class="app-menu__item {{ current_route is same as 'main_homepage' ? 'active' }}" href="{{ path('main_homepage') }}">
                    <i class="app-menu__icon fa fa-dashboard"></i>
                    <span class="app-menu__label">&nbspDashboard</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item {{ current_route is same as 'company_list_projects' ? 'active' }}" href="{{ path('company_list_projects') }}">
                    <i class="app-menu__icon fa fa-laptop"></i>
                    <span class="app-menu__label">&nbspProjects</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item {{ current_route is same as 'company_list_employees' ? 'active' }}" href="{{ path('company_list_employees') }}">
                    <i class="app-menu__icon fa fa-users"></i>
                    <span class="app-menu__label">&nbspEmployees</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item {{ current_route is same as 'company_list_jobs' ? 'active' }}" href="{{ path('company_list_jobs') }}">
                    <i class="app-menu__icon fa fa-book"></i>
                    <span class="app-menu__label">Jobs</span>
                </a>
            </li>
        </ul>
    </aside>
    <!-- Page Content -->

        {% block content %}{% endblock %}

        <hr/>

        <!-- Footer -->
        <footer class="main-footer">
            <p>Copyright &copy; PROCOST {{ 'now'|date('Y') }}</p>
        </footer>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}


